.collection {
  .yd-tab-nav {
    height: 90px;

    .yd-tab-nav-item {
      line-height: 90px !important;
      font-size: $md-font;

      &.yd-tab-active {
        color: $blue !important;
      }
    }
  }

  .goods {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .product {
      width: 49%;
      padding: $gutter;
      background: #fff;
      margin-top: 10px;

      .pic {
        width: 100%;

        img {
          width: 100%;
          height: 300px;
        }
      }

      .title {
        @include singleText;
        font-size: $sm-font;
        color: $black;
        margin: 20px 0;
      }

      .end {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .price {
          font-size: $md-font;
          color: $orange;
        }
        .add-cart {
          width: 130px;
          height: 40px;
          border-radius: 5px;
          border: solid 2px #66bdff;
        }
      }
    }
  }
}