// 主要的颜色
$blue:#369eee;
$orange:#ee5436;
$black:#0a2031;

// 文字颜色
$font-color-gray:#585858;
$font-color-light-gray:#989898;

// 边框,背景颜色
$border-color:#b8b8b8;
$bg-color:#f2f2f2;
$line-color:#c2c2c2;
$blue-bg-color:linear-gradient(-90deg, #2ea3fc 0%, #66bdff 100%);

// 字体大小
$lg-font:32px;
$md-font:28px;
$normal-font:26px;
$sm-font:24px;

// 间距
$gutter:24px